:root {
  font-family: "Rubik", sans-serif;
  --Light-red-work: hsl(15, 100%, 70%);
  --blue: hsl(246, 80%, 60%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  --w-tablet: 768px;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--Very-dark-blue);
}

input[type="radio"] {
  appearance: none;
  visibility: hidden;
  position: absolute;
}

.round {
  border-radius: 1rem;
}
.round-sm {
  border-radius: 0.5rem;
}

.round-full {
  border-radius: 100vw;
}

.border-white {
  border: 3px solid white;
}

.w-1 {
  width: 4rem;
}
.w-2 {
  width: 5rem;
}

.p-1 {
  padding: 1.5rem;
}

.blue {
  background: var(--blue);
}

.background {
  background-color: var(--Dark-blue);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 1240px) {
  .flex {
    flex-direction: column;
    align-items: start;
  }
}

.flex-grow {
  flex-grow: 1;
}

.app {
  display: grid;
  gap: 1rem;
  width: calc(100% - 2rem);
  margin: 2rem;
  max-width: 20rem;
}

@media screen and (min-width: 768px) {
  .app {
    width: 100%;
    max-width: 750px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1240px) {
  .app {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(0, 1fr);
  }
  .start {
    grid-row: span 2;
  }
}

.filter {
  color: var(--Pale-Blue);
}
.filter:has(input[type="radio"]:checked) {
  color: white;
}

.info {
  padding-top: 3rem;
  background-repeat: no-repeat;
  background-position: top -0.5rem right 1rem;
  background-size: 25%;
}

.info[data-info="Work"] {
  background-color: var(--Light-red-work);
  background-image: url(./images/icon-work.svg);
}

.info[data-info="Play"] {
  background-color: var(--Soft-blue-play);
  background-image: url(./images/icon-play.svg);
}

.info[data-info="Study"] {
  background-color: var(--Light-red-study);
  background-image: url(./images/icon-study.svg);
}

.info[data-info="Exercise"] {
  background-color: var(--Lime-green-exercise);
  background-image: url(./images/icon-exercise.svg);
}

.info[data-info="Social"] {
  background-color: var(--Violet-social);
  background-image: url(./images/icon-social.svg);
}

.info[data-info="Self Care"] {
  background-color: var(--Soft-orange-self-care);
  background-image: url(./images/icon-self-care.svg);
}

.details {
  position: relative;
}

.ellipsis {
  position: absolute;
  right: 1.5rem;
  top: 2rem;
}

.text-dim {
  color: var(--Pale-Blue);
  font-size: 0.8rem;
}

.name {
  font-size: 20px;
  color: white;
}

@media screen and (min-width: 545px) {
  .name {
    font-size: 27px;
  }
}

@media screen and (min-width: 545px) {
  .report {
    font-size: 17px;
  }
}

@media screen and (min-width: 545px) {
  .img {
    width: 95px;
  }
}

.subject {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.time {
  color: white;
  font-weight: 300;
  font-size: 2.2rem;
}
